* {
    margin: 0px;
    padding: 0px;
}

html {
    color: black;
    font-size: 2em;
    font-family: arial;
}
.box {
    text-align: center;
    /* margin:25px; */

}

.box1 {
    background: #1abc9c;

}

.box2 {
    background: #3498db; 
    
}

.box3 {
    background: #9b49b6;
}

.box4 {
    background: #34495e;
    
}

.box5 {
    background: #f1c40f;
    
    
}


.box6 {
    background: #e67e22;

}

.menu {
    
    background-color: grey;
    
}

p {
    font-size: initial;

}